<div class="carousel-container">
  <ul class="carousel">
    <ng-container *ngFor="let item of carouselItems; let i = index">
      <li class="carosel-items fade" *ngIf="i >= startPos && i <= endPos" >
        <div class="item">
          <div class="image-container">
            <img src="{{ item.itemImage }}" alt="" />
          </div>
          <div class="detail-container">
            <h1>{{ item.itemName }}</h1>
            <p>{{ item.itemprice }}</p>
            <p>{{ item.itemCategory }}</p>
          </div>
        </div>
      </li>
    </ng-container>

    <div class="carousel-arrows">
      <div class="carousel-arrow carousel-arrow-prev" [class.carousel-arrow-disabled]="startPos === 0" (click)="showPrev()">&#10094;</div>
      <div class="carousel-arrow carousel-arrow-next" [class.carousel-arrow-disabled]="endPos === carouselItems.length-1" (click)="showNext()">&#10095;</div>
    </div>
  </ul>
</div>
